.page-btn {
  box-sizing: border-box;
  border: transparent;
  border-radius: 2px;
  outline: none;
  background-color: transparent;
  text-transform: lowercase;
  padding: 2px 5px;
  border-bottom: 1px black;
  border-style: groove;
  text-decoration: none;
  color: initial;
}
.page-btn:hover {
  background-color: rgba(0, 0, 0, 0.1);
}
.page-btn:active {
  background-color: rgba(0, 0, 0, 0.5);
}