.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  background-color: rgba(192, 77, 249, 1);
}

.socials-container {
  display: flex;
  gap: 1rem;
}

.faHeart {
  color: red;
  margin: 0 2px;
}

.social-btn {
  color: initial;
}