.main-intro {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  margin: 3rem;
}

.intro-wrapper {
  border: 4px solid var(--yellow);
  margin: auto;
  width: auto;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: 0 0 16px var(--yellow), inset 0 0 12px var(--yellow);
  background-color: var(--panel-bg);
}

.intro-wrapper h2,
.intro-wrapper h3 {
  margin: 0.5rem auto;
  color: var(--blue);
}

.intro-wrapper h2 {
  font-size: 5rem;
}

.intro-wrapper h3 {
  font-size: 2rem;
}