:root {
  --pink-off: rgba(255, 72, 196, 0.35);
  --pink-op: rgba(255, 72, 196, 0.5);
  --pink: rgba(255, 72, 196, 1);
  --blue-op: rgba(43, 209, 252, 0.5);
  --blue: rgba(43, 209, 252, 1);
  --yellow-off: rgba(243, 234, 95, 0.35);
  --yellow-op: rgba(243, 234, 95, 0.5);
  --yellow: rgba(243, 234, 95, 1);
  --purple-off: rgba(192, 77, 249, 0.35);
  --purple-op: rgba(192, 77, 249, 0.5);
  --purple: rgba(192, 77, 249, 1);
  --red-off: rgba(255, 63, 63, 0.35);
  --red-op: rgba(255, 63, 63, 0.5);
  --red: rgba(255, 63, 63, 1);
  --black: rgb(0, 0, 0);
  --panel-bg: rgba(49, 49, 49, 0.3);
}

@font-face {
  font-family: 'LasEnter';
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/lasenter/LasEnter.ttf') format('truetype');
}
@font-face {
  font-family: 'Neon';
  font-style: normal;
  font-weight: normal;
  src: url(./fonts/neon_80s/Neon.ttf) format('truetype');
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'Neon';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--black);
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

* {
  box-sizing: border-box;
}

h2 {
  font-family: 'LasEnter';
}

ul {
  list-style: none;
  padding: 0;
}

.App {
  text-align: center;
}

.no-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.home-page {
  height: 100%;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
